*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    background-color: rgb(10, 1, 32);
}

.nav-ul {
    background-color: rgb(7, 2, 39);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    padding: 1rem;
    width: 100%;
    flex-wrap: nowrap;
}

.judul {
    background-image: linear-gradient(to right, navy, blue, #86a8e7);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-size: 4rem; 
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a:hover{
    font-size: 2.3rem ;
    text-shadow: 2px 2px 2px;
}

a {
    color: aliceblue;
    text-decoration: none;
    font-size: 2rem; /* Ukuran PC */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    margin: 100px auto;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.box {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    animation: spin 15s infinite linear;
}

.img {
    flex: 0 0 auto;
    width: 30em; 
    height: 30em;
    padding: 1em;
    border-radius: 3em;
    object-fit: cover;
}

@keyframes spin {
    from { transform: translateX(0); }
    to { transform: translateX(-100%); }
}

.hh {
    display: flex;
    justify-content: center;
    text-align: center;
}

.yy {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    margin-bottom: 5rem;
    color: white;
}

.produck {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; 
    gap: 20px;
    margin-bottom: 10rem;
}

.conten {
    flex-shrink: 0;
    width: 20rem;
    height: auto;
    min-height: 15rem;
    border-radius: 1rem 1rem 0rem 0rem;
    background-color: rgb(7, 2, 39);
    text-align: center;
    padding: 1rem;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.conten img {
    max-width: 100%;
    height: auto;
}

.about {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
}

@media screen and (max-width: 1024px) {
    .judul {
        font-size: 2.5rem; 
    }
    a {
        font-size: 1.2rem;
    }
    .about {
        font-size: 1.2rem;
    }

    .img {
        width: 20em;
        height: 20em;
    }
}

@media screen and (max-width: 480px) {
    .judul {
        font-size: 1.2rem; 
    }
    a {
        font-size: 0.7rem; 
    }
    .nav-ul {
        padding: 0.5rem;
        gap: 5px; 
    }

    .img {
        width: 15em;
        height: 15rem;
    }
    
    .conten {
        width: 85%;
        font-size: 1.2rem;
    }
    
    .about {
        font-size: 0.6rem;
    }
}
